* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: black;
}
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Karla:wght@200&family=Lato:ital@1&family=Montserrat:wght@100&family=Roboto:ital,wght@0,300;1,400&family=Rubik&display=swap%27);

body {
  width: 100vw;
  background-color: rgb(149, 236, 149);
}

.header {
  height: 15vh;
  display: flex;
  background-color: rgb(149, 236, 149);
}

.div-logo {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.logo {
  width: 6vw;
  border: 2px solid black;
  border-radius: 5px;
}

.logo:hover {
  transform: scale(1.2);
  transition: 1s;
}

nav {
  width: 100%;
  margin-right: 5%;
}

nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  font-weight: bold;
  font-size: 1.2rem;
}

.home {
  color: rgb(7, 116, 7);
}

.home:hover {
  transform: scale(1.2);
  transition: 0.6s;
  color: rgb(7, 116, 7);
}

.itens:hover {
  transform: scale(1.2);
  transition: 0.6s;
  color: rgb(184, 181, 8);
}

.sobre:hover {
  transform: scale(1.2);
  transition: 0.6s;
  color: rgb(11, 121, 194);
}

.login:hover {
  transform: scale(1.2);
  transition: 0.6s;
  color: rgb(138, 22, 22);
}

.hamburguer {
  display: none;
}

.hamburguer:hover {
  width: auto;
  transform: rotate(360deg);
  transition: 1s;
}

.banner {
  height: 85vh;
  background-image: url(../IMG/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.banner h1 {
  width: 30vw;
  height: auto;
  text-align: center;
  background-color: rgba(250, 235, 215, 0.514);
  border-radius: 5px;
  color: rgb(5, 85, 5);
  font-size: 3rem;
}

.banner h1:hover {
  transform: scale(1.2);
  transition: 1s;
  border: 2px solid rgb(5, 85, 5);
}

.banner h4 {
  width: 65vw;
  background-color: rgba(250, 235, 215, 0.514);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h4:hover {
  border: 2px solid rgb(5, 85, 5);
  transform: scale(1.2);
  transition: 1s;
}

.explorar {
  height: 10vh;
  width: 200px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgba(250, 235, 215, 0.514);
  border: 2px solid rgb(7, 233, 75);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explorar:hover {
  border: 2px solid rgb(0, 0, 0);
  color: rgb(7, 233, 75);
  transform: scale(1.2);
  transition: 1s;
}

.explorar a:hover {
  color: darkgreen;
}

.produtos {
  margin-top: 2%;
  text-align: center;
  text-decoration: underline;
  font-size: 1.8rem;
}

.produtos:hover {
  transform: scale(1.3);
  transition: 1s;

  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18,
    2px 2px 2px rgba(206, 89, 55, 0);
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.cards {
  width: 400px;
  height: 540px;
  border: 5px solid black;
  border-radius: 15px;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .cards:hover {
  transform: scale(1.1);
  transition: 1s;
} */

.cards-img img {
  width: 100%;
  height: 250px;
  border-radius: 15px;
}

.cards-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40%;
}

.cards-title {
  text-align: center;
  margin-top: 2%;
}

.cards-p {
  text-align: justify;
  text-indent: 5%;
  padding: 2%;
  line-height: 25px;
}

.cards-button {
  width: 300px;
  height: 45px;
  border-radius: 10px;
  position: absolute;
  margin-top: 16%;
}

.cards-button a {
  font-size: 1.2rem;
  font-weight: bold;
}

.cards-button:hover {
  background-color: rgb(20, 155, 54);
  transition: 1s;
}

footer {
  height: 365px;
  width: 100%;
  background-color: rgb(7, 116, 7);
}

.footer-top {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.footer-card {
  width: 25vw;
  height: 100px;
}

.aluno {
  color: white;
  text-decoration: none;
  text-align: center;
}

.aluno:hover {
  transform: scale(1.2);
  transition: 1s;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 5%;
}

.footer-icons img:hover {
  transform: scale(1.1);
  transform: rotate(360deg);
  box-shadow: 0px 0px 15px 10px #ffffff;
  box-shadow: 0px 0px 15px 10px #ffffff;
  transition: 1s;
}

.footer-desc {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 12%;
  background-color: rgb(7, 116, 7);
}

.footer-desc:hover {
  transform: scale(1.1);
  transition: 1s;
}
