* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: black;
}
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Karla:wght@200&family=Lato:ital@1&family=Montserrat:wght@100&family=Roboto:ital,wght@0,300;1,400&family=Rubik&display=swap%27);

body {
    width: 100vw;
}

.header1 {
    height: 20vh;
    display: flex;
}

.div-logo {
 width: 100%;
 display: flex;
 align-items: center;
 margin-left: 5%;
}

.logo {
    width: 8vw;
    border: 2px solid black;
    border-radius: 5px;
}

nav {
    width: 100%;
    margin-right: 5%;
}

nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    font-size: 1.1rem;
}

.home {
    color: rgb(7, 116, 7);
}

.hamburguer {
display: none;
}

.banner {
    height: 80vh;
    background-image: url(../IMG/brócolis.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.banner h1 {
    width: 25vw;
    height: 10vh;
    text-align: center;
    background-color: rgba(250, 235, 215, 0.514);
    border-radius: 5px;
    color: rgb(5, 85, 5);
    font-size: 3rem;
    
}

.banner h4 {
    width: 60vw;
    background-color: rgba(250, 235, 215, 0.514);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
}

.explorar {
    height: 10vh;
    width: 15vw;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgba(250, 235, 215, 0.514);
    border: 2px solid rgb(7, 233, 75);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}