* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  width: 100vw;
}

.header1 {
  background-color: #1cd1b0;
}

.header1 span {
  font-weight: bold;
  margin-left: 2%;
}

.header2 {
  background-color: #00669f;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header2 img {
  margin-left: 1%;
}

.header2 h2 {
  color: white;
  margin-top: 1%;
  margin-left: 2%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  margin-bottom: 15%;
  gap: 20px;
}

.form h1 {
  margin-right: 16.8%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

fieldset input {
  width: 310px;
  height: 30px;
  padding: 5%;
  border: 2px;
  border-style: none;
}

fieldset button {
  width: 310px;
  height: 30px;
  background-color: #1cd1b0;
  font-weight: bold;
  border: none;
  border-radius: 23.011px;
  margin-top: 5%;
}

input::placeholder {
  color: black;
}

.button {
  border: none;
}

.button a {
  color: black;
  text-decoration: none;
}

h6 a {
  text-decoration-line: none;
}

footer {
  height: 61px;
  background-color: #00669f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
