* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%vw;
  height: 100%vh;

  display: grid;
  gap: 20px;
  grid-template-rows: 10% 90%;
  grid-template-columns: 15% 85%;
  grid-template-areas:
    "header header"
    "aside ."
    ". section";
}

main {
}

header {
  background-color: brown;
  color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header;
}

aside {
  background-color: rgb(133, 31, 31);
  grid-area: aside;
}

aside ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 10%;
  padding-top: 15%;
  list-style-type: none;
  grid-area: aside;
}

aside a {
  color: goldenrod;
  text-decoration: none;
  grid-area: aside;
}

.section1 {
  margin: 5% 5% 5%;
  display: flex;
  justify-content: center;
  grid-area: section;
}
